DB_HOST=localhost
DB_USER=paperplacer
DB_PASSWORD=very_secure_database_password
DB_NAME=PaperPlacer
PP_ADMIN_PASSWORD=the_most_secure_admin_password_ever

PP_REQUIRE_ADMIN_PASSWORD_TO_UPLOAD_FILES=false

PP_WEBSERVER_PORT=3000