<!DOCTYPE html>
<head>
    <title>Remove a category — PaperPlacer</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--%include="header.html"%-->
    <main>
        <div class="flex">
            <!--%include="sidebar.html"%-->
            <div id="main">
                <h1>Removing a Catalogue</h1>
                <h3>Administrator password required to execute this operation</h3>
                <form method="post" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="tablename" placeholder="Catalogue Path" autocomplete="off" autofocus="" required/>
                    <input type="password" name="password" placeholder="Administrator Password" autocomplete="off" autofocus="" required/>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </main>
    <!--%include="footer.html"%-->
</body>